

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/a.css" rel="stylesheet" />
    <title>Change Password</title>
</head>
<body>
    <div class="login-box">
        <h2>Change Password</h2>
        @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "login-form" }))
        {
            @Html.AntiForgeryToken()
            <form>
                <div class="user-box">
                    <input type="text" name="OldPassword" id="OldPassword" required="" placeholder="Old Password">
                    <label>Old Password</label>
                </div>
                <div class="user-box">
                    <input type="password" name="NewPassword" id="NewPassword" required="" placeholder="New Password">
                    <label>New Password</label>
                </div>
                <div class="user-box">
                    <input type="password" name="ConfirmPassword" id="ConfirmPassword" required="" placeholder="Confirm Password">
                    <label>Confirm Password</label>
                </div>



                <div class="ortala">

                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Submit
                    </button>
                </div>

            </form>
        }
        </div>
</body>
</html>










<!--<div class="login-page mt-3">
    <div class="form">
      

            <div class="wrap-input100 validate-input">
                <input type="text" class="input100" placeholder="Enter Old Password" name="OldPassword" id="OldPassword" required />
            </div>
            <div class="wrap-input100 validate-input">
                <input type="password" class="input100" placeholder="Enter New Password" name="NewPassword" id="NewPassword" required />
            </div>
            <div class="wrap-input100 validate-input">
                <input type="password" class="input100" placeholder="Enter New Password" name="ConfirmPassword" id="ConfirmPassword" required />
            </div>-->
            @*<input type="text" class="input100" placeholder="Enter New Password" name="NewPassword" id="NewPassword" required />
                <input type="text" class="input100" placeholder="Enter New Password" name="ConfirmPassword" id="ConfirmPassword" required />*@





            @*<div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="password" id="password">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                </div>*@
            <!--@ViewBag.message

            <div class="container-login100-form-btn">

                <input type="submit" class="login100-form-btn" value="Login" />
            </div>-->
            @*<input type="submit" value="Change Password" id="btnlogin" />*@
        <!--}

    </div>

</div>-->


<!--===============================================================================================-->
<!--===============================================================================================-->
<!--<script src="~/Content/LoginTemplate/vendor/animsition/js/animsition.min.js"></script>-->
<!--===============================================================================================-->
<!--<script src="~/Content/LoginTemplate/vendor/bootstrap/js/popper.js"></script>
<script src="~/Content/LoginTemplate/vendor/bootstrap/js/bootstrap.min.js"></script>-->
<!--===============================================================================================-->
<!--<script src="~/Content/LoginTemplate/vendor/select2/select2.min.js"></script>-->
<!--===============================================================================================-->
<!--<script src="~/Content/LoginTemplate/vendor/daterangepicker/moment.min.js"></script>
<script src="~/Content/LoginTemplate/vendor/daterangepicker/daterangepicker.js"></script>-->
<!--===============================================================================================-->
<!--<script src="~/Content/LoginTemplate/vendor/countdowntime/countdowntime.js"></script>-->
<!--===============================================================================================-->
<!--<script src="~/Content/LoginTemplate/js/main.js"></script>-->
